.login-wrap{
    width:320px;
    margin: 0 auto;
    border:1px solid #eee;
    padding:15px;
    background: #f8f8f8;
    border-radius: 4px;
    color: black;
}

.fb_button{
    margin: 0 auto;
    display: block;
}

.form-group.last { margin-bottom:0px; }