{% extends "base.html" %}
{% block content %}
    <div class="row">
        <h1 class="text-center">Log In</h1>
        <div class="login-wrap text-center">
            <div class="gplus_button">
                <span class="g-signin"
                      data-scope="openid email"
                      data-clientid="1010057010613-6jmbhlsmaftgih95d4j1bvo73sj4vqr1.apps.googleusercontent.com"
                      data-redirecturi="postmessage"
                      data-accesstype="offline"
                      data-cookiepolicy="single_host_origin"
                      data-callback="signInCallback"
                      data-approvalprompt="force">
                </span>
            </div>
            <div id="result"></div>
            <hr><h3>OR</h3><hr>
            <button class="fb_button">
                <fb:login-button scope="public_profile,email"
                                 onlogin="sendTokenToServer();">
                    <a href='javascript:sendTokenToServer()'>Login with Facebook</a>
                </fb:login-button>
            </button>
        </div>
    </div>
    <script src="static/logins.js"></script>
{% endblock %}
